#{extends 'templates/main.html' /}

#{set 'moreScripts'}
#{get 'moreScripts' /}
<script>
function addSnippet() {
	showModal("@{SnippetActions.addSnippetModal()}");
}
</script>
#{/set}
<div class="row-fluid">
	<div class="span3" id="leftCol">
		<div class="sidebar">
		
			<div class="well sidebar-well">
				<button onclick="addSnippet(); return false">Add Snippet</button>
				<h3>Filter</h3>
				<input type="checkbox" id="tag_${tagName}" />Show all snippets
				<h2>Tags</h2>
				<ul class="nav nav-stacked affix-top" id="sidebar">
				#{list items:tagNames, as:'tagName'}
					<li><input type="checkbox" id="tag_${tagName}" />${tagName}</li>
				#{/list}
				</ul>
				<h2>Shared With</h2>
				<ul class="nav nav-stacked affix-top" id="sidebar">
				#{list items:usersWithReadAccess, as:'userWithReadAccess'}
					<li><input type="checkbox" id="user_with_read_access_${userWithReadAccess}" />${userWithReadAccess.username}</li>
				#{/list}
				</ul>
			</div>
		</div>
	</div>  
	<div class="content">
	#{doLayout /}
	</div>
</div>
