*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container-fluid {
	max-width: 1024px;
	margin: auto;
}

.content {
	margin-top: 10px;
}

.well {
	display: block;
	float: left;
	position: relative;
	margin: auto;
	width: 100%;
}

.sidebar {
	float: left;
	display: block;
	width: 20%;
	padding: 10px 10px 0px 0px;
}

.content {
	float: left;
	display: block;
	width: 80%;
	padding: 0;
}

.next-arrow {
	float: left;
	height: 100%;
	position: relative;
	top: 100px;
	padding-left: 10px;
}

.prev-arrow {
	float: left;
	display: block;
	position: relative;
	top: 100px;
	padding-right: 10px;
}

.snippet {
 	width: 90%;
 	display: block; 
	position: relative; 
 	float: left;	
}

.column-header-3 {
	display: block; 
	position: relative; 
	float: left;
}

.column-3 {
	display: block; 
	position: relative; 
	float: left;
	width: 31%; 
	margin: 0px 1% 0px 1% !important; 
}

.generic-modal {
	width: auto;
	height: auto;
	position: absolute !important;
	float: left;
	top: 100px;
	left: 30%;
	
	padding: 30px 50px 30px 50px;
	
	background-color: red;

	display: none;	
}