#{if "column".equals(_placement)}
<div class="related-snippet well" id="related-snippet-${_relatedSnippet.id}">
	<a href="@{SnippetActions.removeRelationship(_snippet.seoName, _relatedSnippet.seoName)}"><i style="float: right" class="fa fa-unlink"></i></a>
	<h3 id="snippet-name">
		<a href="@{Application.snippet(_relatedSnippet.seoName)}">${_relatedSnippet.name}</a>
	</h3>
	<p id="snippet-text">${_relatedSnippet.text}</p>
</div>
#{/if}#{else}
<div class="snippet" id="snippet">
	<h3 id="snippet-name">${_snippet.name}</h3>
	<p id="snippet-text">${_snippet.text}</p>
	<span style="display: none" id="snippet-id" snippet-id="${_snippet?.id}"></span>
	<ul class="list-group">
		<li class="list-group-item">
			<span class="snippet-tags-label">Tags</span> 
			<span class="badge" style="float: right" onclick="showAddTagModal()">Add Tag</span> 
			#{list items:_snippet.getTags(), as:'tag'} 
				<span class="badge">
					<a href="@{SnippetActions.removeTag(_snippet.seoName, tag.name)}">
						<i style="float: right" class="fa fa-unlink"></i>
					</a>
					<a href="/tag/${tag.name}">${tag.getName()}</a>
				</span> 
			#{/list}
		</li>
	</ul>
</div>
#{/else}