#{extends 'templates/sidebar.html' /}
#{set title:'Snippets' /}

#{set 'moreScripts'}
<script src="/public/javascripts/typeahead.js"></script>

<script>
$().ready(function() {
});

function tagSnippet() {
	var snippetId =  $('#addTagModal').attr('snippetId');
	var tagName = $("#addTagInput").val();
	console.log(tagName);
	var url = "@{Application.tagSnippetAjaxUpdate()}"+"?tagName="+escape(tagName)+"&snippetId="+snippetId;
	$.ajax({
		url: url,
		success: function(data) {
			$('#addTagModal').modal('hide');
			window.location.reload();
		}
	});
}

function showAddTagModal() {
	var snippetId = $("#snippet-id").attr("snippet-id");
	$('#addTagModal').attr('snippetId', snippetId);
	$('#addTagModal').modal('show');
	$('#addTagInput').typeahead({
		name: 'addTag${System.currentTimeMillis()}',
		prefetch: '@{Application.getMyTagsAjaxJson()}',
		limit: 10
	});
}

function displaySnippetData(data) {
	var snippet = eval(data);
	$("#snippet-id").attr("snippet-id", snippet.id);
	$("#snippet-name").html(snippet.name);
	$("#snippet-text").html(snippet.text);
	
	$("#snippet-tags").html("");
	for (var tagNum = 0; tagNum < snippet.tags.length; tagNum++) {
		var tag = snippet.tags[tagNum];
		var html = "<span class=\"badge\"><a href=\"/tag/"+tag.name+"\">"+tag.name+"</a></span>";
		console.log(html);
		$("#snippet-tags").append(html);
	}
}

function getSnippet() {
	$.ajax({
		url: "@{getMySnippetAjaxJson()}",
		success: function(data) {
			displaySnippetData(data);
		}
	});
}

function getNextSnippet() {
	var snippetId = $("#snippet-id").attr("snippet-id");
	var action = #{jsAction @getMySnippetNextAjaxJson(':snippetId') /};
	$.ajax({
		url:action({snippetId: snippetId}),
		success: function(data) {
			displaySnippetData(data);
		}
	});
}

function getPrevSnippet() {
	var snippetId = $("#snippet-id").attr("snippet-id");
	var action = #{jsAction @getMySnippetPrevAjaxJson(':snippetId') /};
	$.ajax({
		url:action({snippetId: snippetId}),
		success: function(data) {
			displaySnippetData(data);
		}
	});
}
</script>
#{/set}

#{set 'moreOnReady'}

	$("#add-tag-button").click(function() {
		showAddTagModal($("#add-tag-button").attr('snippet-id'));
	});
	
	getSnippet();
#{/set}

	<div class="well" style="display: block; float: left">

	<div class="prev-arrow" onclick="getPrevSnippet()">&lt;</div>

	<div class="snippet" id="snippet">
		<h3 id="snippet-name"></h3>
		<p id="snippet-text"></p>
		<span style="display: none" id="snippet-id" snippet-id=""></span>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="snippet-tags-label">Tags</span> 
				<span id="snippet-tags" style="float: right"></span> 
				<span class="badge" style="float: right" onclick="showAddTagModal()">Add Tag</span> 
			</li>
		</ul>
	</div>

	<div class="next-arrow" onclick="getNextSnippet()">&gt;</div>

	</div>

<!-- Add Tag Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Snippet Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
