#{extends 'templates/sidebar.html' /}
#{set title:'Snippets' /}

#{set 'moreScripts'}
<script src="/public/javascripts/typeahead.js"></script>

<script>
$().ready(function() {
});

function tagSnippet() {
	var snippetId =  $('#addTagModal').attr('snippetId');
	var tagName = $("#addTagInput").val();
	var url = "@{Application.tagSnippetAjaxUpdate()}"+"?tagName="+escape(tagName)+"&snippetId="+snippetId;
	$.ajax({
		url: url,
		success: function(data) {
			$('#addTagModal').modal('hide');
			window.location.reload();
		}
	});
}

function showAddTagModal() {
	var snippetId = $("#snippet-id").attr("snippet-id");
	$('#addTagModal').attr('snippetId', snippetId);
	$('#addTagModal').modal('show');
	$('#addTagInput').typeahead({
		name: 'addTag${System.currentTimeMillis()}',
		prefetch: '@{Application.getMyTagsAjaxJson()}',
		limit: 10
	});
}

function getRelatedSnippet(snippetId) {
	var action = #{jsAction @getMySnippetAjaxJson(':snippetId') /};
	$.ajax({
		url:action({snippetId: snippetId}),
		success: function(snippet) {
			var snippetId = snippet.id;
			var relatedAction = #{jsAction @snippet(':snippetName') /};
			var relatedUrl = action({snippetId: snippetId});
			
			var html = "<div class=\"related-snippet\" id=\"related-snippet-"+snippetId+"\">"+
				"<h3 id=\"snippet-name\"><a href=\"@{snippet()}?snippetName="+snippet.name+"\">"+snippet.name+"</a></h3>"+
				"<p id=\"snippet-text\">"+snippet.text+"</p>"+
			"</div>"
			$("#related-snippet-"+snippetId).html(html);
		}
	});
	
}

function getRelatedSnippets() {
	// first load this snippet
	var snippetId = $("#snippet-id").attr("snippet-id");
	var action = #{jsAction @getMySnippetAjaxJson(':snippetId') /};
	$.ajax({
		url:action({snippetId: snippetId}),
		success: function(data) {
			var snippet = eval(data);
		
			// display related snippets
			$("#snippet-related-snippets").html("");
			// first print out all the div containers. this will maintain the order, so reloading doesn't shuffle
			var listSize = snippet.relatedSnippetIds.length;
			if (listSize>20) listSize = 20;
			for (var relatedSnippetNum = 0; relatedSnippetNum < listSize; relatedSnippetNum++) {
				var relatedSnippetId = snippet.relatedSnippetIds[relatedSnippetNum];
				
				var html = "<div class=\"related-snippet well\" style=\"display: block; position: relative; width: 100%; margin: 10px auto\" id=\"related-snippet-"+relatedSnippetId+"\"></div>";
				$("#snippet-related-snippets").append(html);
			}
			// now load the actual snippet over ajax
			for (var relatedSnippetNum = 0; relatedSnippetNum < listSize; relatedSnippetNum++) {
				var relatedSnippetId = snippet.relatedSnippetIds[relatedSnippetNum];
				getRelatedSnippet(relatedSnippetId);
			}
		}
	});
}

</script>
#{/set}

#{set 'moreOnReady'}

	$("#add-tag-button").click(function() {
		showAddTagModal($("#add-tag-button").attr('snippet-id'));
	});
	
	getRelatedSnippets();
#{/set}

	<div class="well" style="width: 800px">

		<div class="prev-arrow"><a href="@{getPrevSnippet(snippet?.name)}">&lt;</a></div>
	
			<div class="snippet" id="snippet">
				<h3 id="snippet-name">${snippet.name}</h3>
				<p id="snippet-text">${snippet.text}</p>
				<span style="display: none" id="snippet-id" snippet-id="${snippet?.id}"></span>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="snippet-tags-label">Tags</span> 
						#{list items:snippet.getTags(), as:'tag'} 
							<span class="badge"><a href="/tag/${tag.name}">${tag.getName()}</a></span> 
						#{/list}
						<span class="badge" style="float: right" onclick="showAddTagModal()">Add Tag</span> 
					</li>
				</ul>
			</div>
	
		<div class="next-arrow"><a href="@{getNextSnippet(snippet?.name)}">&gt;</a></div>

	</div>

	<div style="display: block; position: relative; width: 100%; margin: auto">
		<div class="" style="display: block; position: relative; width: 25%; margin: auto">
		</div>
		<div class="" id="snippet-related-snippets" style="display: block; position: relative; width: 50%; margin: auto">
		</div>
		<div class="" style="display: block; position: relative; width: 25%; margin: auto">
		</div>
	</div>
	
	
	
	
	
	
	
	
<!-- Add Tag Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Snippet Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
