#{extends 'templates/sidebar.html' /}
#{set title:'Snippets' /}

#{set 'moreScripts'}
<script src="/public/javascripts/typeahead.js"></script>

<script>
$().ready(function() {
});

function tagSnippet() {
	var snippetId =  $('#addTagModal').attr('snippetId');
	var tagName = $("#addTagInput").val();
	var url = "@{Application.tagSnippetAjaxUpdate()}"+"?tagName="+escape(tagName)+"&snippetId="+snippetId;
	$.ajax({
		url: url,
		success: function(data) {
			$('#addTagModal').modal('hide');
			window.location.reload();
		}
	});
}

function showAddTagModal() {
	var snippetId = $("#snippet-id").attr("snippet-id");
	$('#addTagModal').attr('snippetId', snippetId);
	$('#addTagModal').modal('show');
	$('#addTagInput').typeahead({
		name: 'addTag${System.currentTimeMillis()}',
		prefetch: '@{Application.getMyTagsAjaxJson()}',
		limit: 10
	});
}

function relateSnippet() {
	showModal("@{SnippetActions.addRelationshipModal(snippet.seoName)}");
}

function addNote() {
	showModal("@{SnippetActions.addNoteModal(snippet.seoName)}");
}

</script>
#{/set}

#{set 'moreOnReady'}

	$("#add-tag-button").click(function() {
		showAddTagModal($("#add-tag-button").attr('snippet-id'));
	});
	
	//getRelatedSnippets();
#{/set}

	<div class="well" style="width: 800px">

		<div class="prev-arrow"><a href="@{getPrevSnippet(snippet?.seoName)}">&lt;</a></div>
	
			#{snippet snippet:snippet, placement:"main"/}	
		<div class="next-arrow"><a href="@{getNextSnippet(snippet?.seoName)}">&gt;</a></div>

	</div>
	
	<div style="display: block; position: relative; width: 100%; float: left; margin: auto">
		<div class="" style="display: block; position: relative; width: 31%; margin: 0px 2% 0px 0px; float: left">
		<p>
			<h2>Notes</h2>
			<button onclick="addNote()">Add a new note</button>
		</p>

		#{list items:snippet.getNotes(), as:'note'}
			<div class="note well" id="note-${note.id}">
				<p>${note?.attributes?.get("text")}</p>
				<p>Author: ${note?.getTarget(models.User.class)?.username}</p>
			</div>
		#{/list}
		</div>
		<div class="" id="snippet-related-snippets" style="display: block; position: relative; width: 30%; margin: 0px 2% 0px 2%; float: left">
		<p>
			<h2>Related Snippets</h2>
			<button onclick="relateSnippet()">Relate this snippet to another</button>
		</p>
		
		#{list items:snippet.getRelatedSnippets(), as:'relatedSnippet'}
			#{snippet snippet:relatedSnippet, placement:"column" /}
		#{/list}
		</div>
		<div class="" style="display: block; position: relative; width: 31%; margin: 0px 0px 0px 2%; float: left">
		<p>
			<h2>Shared With</h2>
			<button onclick="relateSnippet()">Share this snippet</button>
		</p>

		#{list items:snippet.getUsersWithReadAccess(), as:'user'}
			<div class="user well" id="user-${user.id}">
				<h3 id="user-name">
					<a href="#">${user.username}</a>
				</h3>
				<span class="snippet-tags-label">Access Rights</span>
				#{list items:user.accessLevels(snippet), as:'accessLevel'}
					<span class="badge">${accessLevel}</span>
				#{/list} 
				</span>
			</div>
		#{/list}
		</div>
		</div>
	</div>
	
	

	
	
	
	
<!-- Add Tag Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Snippet Modal -->
<div class="modal fade" id="addTagModal" snippetId="" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="typeahead" name="addTagInput" id="addTagInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="tagSnippet()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
